h1 {
    border:2px solid lightgray;
    background-color: lightslategray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px;
    padding: 2px;
}
h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: none;
    
}
a:hover {
    color:blueviolet;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color:cadetblue;
    background-color: transparent;
    text-decoration: none;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

span {
    border:2px solid lightcyan;
    background-color: powderblue;
    padding: 5px;
    margin: 5px;
}
