h1 {
    border:2px solid lightgray;
    background-color: lightslategray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px;
    padding: 2px;
}
h5 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited  {
    text-decoration: none;
}

span {
    border:2px solid lightgray;
    background-color: lightslategray;
    padding: 5px;
    margin: 5px;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

<!--section {


}-->

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin: 20px;
}