h1 {
    border:2px solid lightgray;
    background-color: lightslategray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px;
    padding: 2px;
}
h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 1px;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: none;
    
}
a:hover {
    color:blueviolet;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color:cadetblue;
    background-color: transparent;
    text-decoration: none;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

span {
    border:2px solid lightgray;
    background-color: lightslategray;
    padding: 5px;
    margin: 5px;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

section {
    border: 5px solid lightslategray;

}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    margin: 20px;
}